 @import url(http://fonts.googleapis.com/css?family=PT+Sans:300,400,600);
 @import url(http://fonts.googleapis.com/css?family=Droid+Serif);

.navbar-inner {
  height: 60px;
  background: #3E3C30 url("http://tools.harvestchoice.org/assets/wordmark-HarvestChoice.png") no-repeat top right;
}

body {
  font-family: 'Pt Sans', Arial, Helvetica, sans-serif;
  color: #444;
}

h1,h2,h3,h4,h5 {
 font-family: 'Droid Serif', serif;
 font-weight: normal;
}

.icon img {
  float: right;
  border: 1px solid #ccc;
}

.index .internal {
  display: none;

}

ul.index li {
  margin-bottom: 0.5em;
  clear: both;
}

.Details code {
  color: #333333;
  border: none;
}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

footer p {
  margin-bottom: 0;
  color: #555;
}
