 @import url(http://fonts.googleapis.com/css?family=PT+Sans:300,400,600);
 @import url(http://fonts.googleapis.com/css?family=Droid+Serif);

.navbar-inner {
  background-color: #3E3C30;
}

body {
  font-family: 'Pt Sans', Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 14px;
  line-height: 20px;
}

h1,h2,h3,h4,h5 {
 font-family: 'Droid Serif', serif;
 font-weight: normal;
}

h1 {
  margin-bottom: 20px;
}

.icon img {
  float: right;
  border: 1px solid #ccc;
}

.index .internal {
  display: none;

}

ul.index li {
  margin-bottom: 0.5em;
  clear: both;
}

.Details code {
  display: block;
  color: #333333;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

footer p {
  margin-bottom: 0;
  color: #555;
}
