export(getCartoCSS)
export(getPlot)
export(genPlot)
export(genStats)
export(getLayer)
export(getMeta)
export(getGroups)
export(genFile)
export(getSimilar)
export(genReadme)
import(hcdata)
import(data.table)
